@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MOBILE FIRST / MOBILE FIRST / MOBILE FIRST / MOBILE FIRST / MOBILE FIRST / MOBILE FIRST / MOBILE FIRST */

/*
------------------------------
Typical Device Breakpoints

Pequenas Telas: Até 600px
Celular: De 600px até 768px
Tablet: De 768px até 992px
Desktop: De 992px até 1200px
Grandes Telas: Acima de 1200px
------------------------------
*/

:root {
    --cor1: #F2EEB3;
    --cor2: #BDBF78;
    --cor3: #8980BF;
    --cor4: #4F4573;
    --cor5: #735634;
}

* {
    margin: 0px;
    padding: 0px; 
}

header {
    background-color: var(--cor4);
    height: 100px;
    color: white;
}

header > h1 {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    padding-top: 10px;
}

header > p {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 7px;
}

nav {
    background-color: #443b63;
    height: 25px;
    padding-top: 5px;
    text-align: center;
}

nav > a {
    color: white;

    text-decoration: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.9em;

    border-radius: 20px;

    padding: 7px;
    padding-left: 15px;
}

main {
    background-image: linear-gradient(to top, purple, #2c2c2c 40%);
    color: white;
    margin: 0px;
    padding: 0px;
    width: 99vw;
    height: 100vh;
}

.mainh1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.3em;

    width: 48vw;

    padding-top: 40px;
    padding-left: 173px;
}

.paragrafo1 {

    font-family: 'Poppins', sans-serif ;
    font-weight: 400;
    font-size: 0.6em;
    
    text-align: left;

    width: 50vw;

    padding-left: 173px;
    padding-top: 10px;
    position: absolute;
}

#messimain {
    background-color: black;

    border-radius: 20px;
    box-shadow: 0px 0px 7px black;

    margin-top: -40px;
    margin-left: 10px;
    position: absolute;

    width: 150px;
    height: 240px;

    /* filter: grayscale(100%) */
}

/* #messimain:hover {
    filter: grayscale(0%);
    transition: 1.3s all ease;
} */

.jogadoresatividades {
    font-family: 'Poppins', sans-serif;
    padding-top: 230px;
    text-align: center;
}

.atividadesphoto {
    background-color: black;
    width: 50px;
    height: 50px;
}

.haalandphoto {
    background-color: black;

    width: 50px;
    height: auto;

    margin: 20px;

    border-radius: 50%;

}







